
* {
    padding: 0;
    margin: 0;
    font-family: Akrobat;
}
.clear {
    clear: both;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
}
h1.block-title::before, h1.block-title::after {
    position: relative;
    top: 18px;
    padding: 15px;
}
h1.block-title::before {
    content: url('../img/open_brace.png');
}
h1.block-title::after {
    content: url('../img/close_brace.png');
}
h1.block-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.grid-c-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-c-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.arrow img{
    cursor: pointer;
    transition: 0.5s;
}
.arrow img:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.minimal-h {
    min-height: calc(100vh - 154px - 124px);
}
#ErrorWrapper {
    text-align: center;

}
#ErrorWrapper h1 {
    padding-top: 100px;
}
#adminWrapper {
    height: calc(100vh - 154px - 124px);
    text-align: center;
}
#adminWrapper h1 {
    padding-top: 100px;
}
#adminWrapper input {
    padding: 5px;
    font-size: 18px;
    margin-top: 10px;
}
#adminWrapper button {
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 10px;
    border: 0;
    background-color: #ff4a35;
    color: white;
    border-radius: 2px;
}
#adminWrapper button:hover {
    background-color: #bf4235;
    cursor: pointer;
}
#adminWrapper .help-block {
    padding: 5px;
    font-size: 18px;
}
/*--- HEADER
 */
#header {
    padding: 13px 0;
}
#header #left-block {
    float: left;
}
#header #right-block {
    float: right;
}
#header #left-block a {
    color: black;
}
#header #left-block img {
    float: left;
    height: 77px;
    margin-right: 10px;
}
#header #left-block h1{
    float: left;
    font-size: 26px;
    margin-top: 4px;
}
#header #right-block .number {
    font-weight: 900;
    font-size: 30px;
    margin-top: 4px;
}
#header #right-block .email a{
    color: #9a9a9a;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}
#menuWrapper {
    background-color: #ff4a35;
    color: white;
}
#menuContainer a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}
div.menu-item {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 50px;
}
div.menu-item:hover {
    background-color: rgba(0,0,0,0.1);
}
/*--- MAIN BLOCK
 */
#mainBlockWrapper {
    background-image: url("../img/main-bg.jpg");
    height: 660px;
    margin-bottom: 50px;
}
#mainBlock {
    padding-top: 72px;
}
#mainBlock h1 {
    text-align: center;
    color: white;
}
#mainBlock #mainTitle {
    font-size: 55px;
    text-transform: uppercase;
}
#mainBlock #mainDescription {
    font-size: 34px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
#mainBlock #mainGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#mainGrid {
    margin-top: 100px;
}
#mainGrid div h2 {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
#mainGrid .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    top: 20px;
    margin-right: 30px;
}
#icon1 {
    background-image: url("../img/icon1.png");
}
#icon2 {
    background-image: url("../img/icon2.png");
}
#icon3 {
    background-image: url("../img/icon3.png");
}
#icon4 {
    background-image: url("../img/icon4.png");
}
/*--- CATALOG
 */
#catalogWrapper {
    margin-top: 10px;
}
#catalog h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
#catalog h1::before, #catalog h1::after {
    position: relative;
    top: 15px;
}
#catalog h1::before {
    content: url('../img/open_brace.png');
}
#catalog h1::after {
    content: url('../img/close_brace.png');
}
#catalogGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
#catalogGrid div p {
    height: 57px;
}
#catalogGrid div img {
    float: left;
    margin-right: 10px;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}
#catalogGrid div button {
    background: white;
    color: #ff4a35;
    border: 2px #ff4a35 dashed;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    margin-top: 17px;
    text-transform: uppercase;
    transition: 0.25s;
}
#catalogGrid div button:hover {
    cursor: pointer;
    background: #ff4a35;
    color: white;
    /*border: 2px solid #ff4a35;*/
    transition: 0.25s;
}
/*--- PHOTO SLIDER
 */
#photosWrapper {
    margin-top: 30px;
}
#photoSliderWrapper {
    background-image: url("../img/photosliderbg.jpg");
    height: 392px;
    margin-top: 30px;
}
#photoSlider {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
.arrow {
    text-align: center;
    z-index: 5;
}
.arrow img {
    height: 62px;
    position: relative;
    top:165px;
}
#photosWrapper .slides {
    height: 392px;
}
.slides {
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-column-gap: 20px;*/
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
}
.slides .slidesBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#photosWrapper .slides > .slidesBlock > div.left {

}
#photosWrapper .slides > .slidesBlock > div.center {

}
#photosWrapper .slides > .slidesBlock > div.right {}
.slides > .slidesBlock > div{
    background-color: white;
    padding: 5px;
    margin-top: 45px;
    height: 300px;
    overflow: hidden;
    left: -834px;
}
.slides > .slidesBlock > div > div {
    height: 295px;
    background-size: cover;
    background-position: center;
}

#photoSlider .slides div h2 {
    text-align: center;
    font-size: 28px;
}
/*--- OWN PRODUCTION BLOCK
 */
#ownProductionBlockWrapper {
    /*background-image: url("../img/ownproductionbg.png");*/
    height: 723px;
    margin-top: 30px;
    margin-bottom: 50px;
}
#videoBlock {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-gap: 35px;
    padding-top: 30px;
}
#video {
    background: black;
    height: 329px;
}
#advantages {

}
#advantages div {
    clear: both;
}
#advantages div div.item-text {
    height: 60px;
    display: table-cell;
    width: 270px;
    border-bottom: 2px solid #ec3924;
    vertical-align: middle;
}
#advantages div h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    /*height: 60px;*/

    /*display: inline-block;*/
}
#advantages div .ownicon {
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    background: no-repeat center;
}
#ownProductionSlide {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
#ownProductionSlide .arrow {
    text-align: center;
}
#ownProductionSlide .arrow img {
    height: 62px;
    position: relative;
    top:165px;
}
#ownProductionSlide .slides {
    height: 392px;
}
#ownProductionSlide > .slides > .slidesBlock > div{
    background-color: white;
    padding: 5px;
    /*margin-top: 45px;*/
}
#ownProductionSlide > .slides > .slidesBlock > div > div {
    height: 270px;
    background-size: cover;
    background-position: center;
}
#ownProductionSlide .slides div img {
    width: 100%;
}
#ownProductionSlide .slides div h2 {
    text-align: center;
    font-size: 28px;
}
/*--- OWN DESIGN DEPARTMENT STYLES
 */
#ownDesignDepart {
    background-image: url("../img/designbg.jpg");
    height: 430px;
    margin-top: 30px;
}
#ownDesignDepartContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 15px;
}
#ownDesignDepartContent div img{
    margin-bottom: 50px;
}
#ownDesignDepartContent div{
    text-align: center;
}

/*--- PASSPORT BLOCK
 */
#passportsWrapper {
    margin-top: 45px;
}
#passports {
    margin-top: 30px;
}
#passportsWrapper h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
}
/*--- ALL TYPES BLOCK
 */
#allTypesContentWrapper {
    background-image: url("../img/alltypesbg.jpg");
    height: 430px;
    margin-top: 30px;
}
#allTypesContent img {
    margin-top: 51px;
    float: left;
    margin-right: 30px;
}
#allTypesContent > p {
    font-size: 25px;
    color: white;
    padding-top: 99px;
    text-transform: uppercase;
}
/*--- DEADLINES BLOCK
 */
#deadlinesContent h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
}
#deadlinesContent img {
    margin-top: 30px;
}
/*--- DELIVERY BLOCK
 */
#deliveryWrapper {
    margin-top: 30px;
}
#deliveryWrapper h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin: 30px 0;
}
#deliveryBg {
    background-image: url('../img/deliverybg.jpg');
    height: 674px;
}
#deliveryContent p {
    color: white;
    font-size: 25px;
    font-weight: normal;
    border-left: 18px solid red;
    padding-left: 10px;
    position: relative;
    top: 30px;
}
#deliveryContent img {
    position: relative;
    top: -60px;
}
/*--- PARTNERS BLOCK
 */
#partnersWrapper {
    text-align: center;
}
#partnersGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
#partnersGrid div img{

}
/*--- HISTORY OF .. BLOCK
 */
#historyWrapper {
    margin-top: 30px;
}
#historyGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}
#historyGrid h3 {
    color: #ff4a35;
    font-size: 20px;
    margin-top: 30px;
    padding: 0 30px;
}
#historyGrid p {
    font-size: 16px;
    padding: 0 30px;
}
#historyGrid img {
    width: 100%;
    margin-bottom: -3px;
}
/*--- CONTACTS BLOCK
 */
#contacts {
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin: 30px auto;
}
#contacts div {
    /*height: 400px;*/
    overflow: hidden;
}
#contacts div h2 {
    color: #ff4a35;
    font-weight: normal;
    font-size: 30px;
    margin-top: 50px;
}
#contacts div h3 {
    font-weight: normal;
    font-size: 25px;
}
#contacts h2, #contacts h3 {
    margin-left: 50px;
}
/*--- FOOTER
 */
#footer {
    padding: 13px 0;
    border-top: 20px solid #ff4a35;
}
#footer #left-block-footer {
    float: left;
}
#footer #right-block-footer {
    float: right;
}
#footer #left-block-footer img {
    float: left;
    height: 77px;
    margin-right: 10px;
}
#footer #left-block-footer h1{
    float: left;
    font-size: 26px;
    margin-top: 4px;
}
#footer #right-block-footer .number {
    font-weight: 900;
    font-size: 30px;
    margin-top: 4px;
}
#footer #right-block-footer .email a{
    color: #9a9a9a;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}
/*---
    ФОРМА ЗАЯВКИ
*/
#formContent input[type=text], #formContent textarea {
    width: calc(100% - 30px);
    padding: 14px;
    border: 1px solid #ff4a35;
    resize: none;
    font-size: 15px;
}
#formContent form {
    padding: 25px 0;
}
#formContent .grid-c-3 {
    grid-gap: 50px;

}
#formContent p {
    font-size: 19px;
    margin-bottom: 10px;
}
#formContent form {
    text-align: center;
}
#formContent input[type=file] {
    display: none;
}
#formContent label {
    background: white;
    color: #ff4a35;
    border: 2px #ff4a35 dashed;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    margin-top: 17px;
    text-transform: uppercase;
    transition: 0.25s;
}
#formContent label img   {
    position: relative;
    top: 12px;
}
#formContent label:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s;
}
#formContent button {
    background: #ff4a35;
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 12px 20px;
    margin-top: 17px;
    text-transform: uppercase;
    transition: 0.25s;
}
#formContent button:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s;
}
#formContent button img {
    position: relative;
    top: 12px;
}

/*--- Фото и видео
 */
#photos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-bottom: 10px;
}

#photos div {
    height: 184px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
#photos img {
    width: 190% ;
}
/*--- кнопочки для таблиц и чертежей
 */
#detailButtons .ui-button {
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 10px;
    border: 0;
    background-color: #ff4a35;
    color: white;
    border-radius: 2px;
}
#detailButtons .ui-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
#detailButtons .ui-window {
    display: none;
}
#detailButtons .grid-c-2 {
    grid-gap: 10px;
}
#detailButtons .price_cena {
    display: none;
}
#schemesBlock .modal-content > div img {
    width: 100%;
}
#schemesBlock .modal-content > div{
    width: 70%;
    margin: 0 auto;
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    padding: 20px 0;
    overflow: auto;
}
.modal-content {

}
.pricelist {
    margin: 0 auto;
    border-collapse: collapse;
    padding: 15px;
    background: #fff;
}
.pricelist tr td {
    padding: 15px;
    border: 1px solid black;
}
.pricelist tr th {
    padding: 15px;
    border: 1px solid black;
}
/*--- CARD SLIDER
 */
@media (max-width: 1080px){ /* tab */
    #photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-bottom: 10px;
    }
    .content {
        width: 90%;
    }
    #passports img, #deadlinesContent img {
        width: 100%;
    }
    #partnersGrid div img {
        width: 100%;
    }
    #deliveryContent img{
        width: 100%;
    }
    #ownDesignDepartContent {
        display: block;
    }
    #ownDesignDepart,#mainBlockWrapper,
    #ownProductionBlockWrapper,#allTypesContentWrapper, #deliveryBg {
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #catalogGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    #mainBlock {
        padding: 10px 0;
    }
    #mainBlock #mainGrid {
        display: block;
        margin-top: 15px;
    }
    #mainGrid div > img {
        display: none;
    }
    #mainGrid div > h2 {
        text-align: left;
        margin-left: 30px;
    }
    #videoBlock {
        display: block;
    }
    #advantages div {
        width: 375px;
        margin: 0 auto;
    }
    #allTypesContent img {
        display: none;
    }
    #allTypesContent > p {
        text-align: left;
        font-size: 50px;
        font-weight: bold;
        padding: 10px 0;
        margin-left: 30px;
    }
    #allTypesContent p span::before {
        content: "•";
        font-size: 90px;
        margin-right: 20px;
    }
    #contacts {
        display: block;
    }
    h1.block-title {
        font-size: 35px;
    }
    #photoSlider {
        width: 692px;
    }
    #photoSliderWrapper {
        height: 270px;
    }
    #photosWrapper .slides {
        height: 270px;
    }
    #photoSlider .slides > .slidesBlock > div {
        height: 170px;
    }
    #photoSlider .slides > .slidesBlock > div > div {
        height: 170px;
    }
    #photoSlider .arrow img {
        top: 100px;
    }
    #ownProductionSlide {
        width: 692px;
        margin: 0 auto;
    }
    #ownProductionSlide > .slides > .slidesBlock > div > div {
        height: 200px;
    }
    #ownProductionSlide .slides div h2 {
        font-size: 20px;
    }
    #ownProductionSlide .arrow img {
        top: 120px;
    }
    #ownProductionSlide .slides {
        height: 300px;
        overflow: hidden;
    }
    #historyGrid {
        grid-template-columns: 1fr;
    }
    .story-img {
        display: none;
    }
    #historyGrid .story-text h3 {
        font-size: 24px;
    }
    #historyGrid .story-text p {
        font-size: 20px;
    }
    #video iframe {
        width: 100%;
    }
    #menuContainer {
        text-align: center;
    }
    div.menu-item {
        margin-right: 0px;
    }
}
@media (max-width: 740px) {
    #photoSlider {
        width: 100%;
    }
    #ownProductionSlide {
        width: 100%;
    }
    .arrow img{
        display: none;
    }

}
@media (max-width: 640px) { /* mobile */
    #formContent .grid-c-3 {
        display: block;
    }
    #formContent label {
        display: block;
        padding-top: 0;
        padding-bottom: 20px;
    }
    #photos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: 10px;
    }
    #header #left-block img {
        float: none;
        height: 77px;
        margin-right: 10px;
    }
    #header #left-block h1{
        float: none;
    }
    h1.block-title, #catalog h1 {
        font-size: 30px;
    }
    h1.block-title::before, h1.block-title::after {
        display: none;
    }
    #ownDesignDepartContent div img {
        max-width: 100%;
    }
    #header #right-block, #header #left-block,
    #footer #left-block-footer, #footer #right-block-footer{
        float: none;
        clear: both;
        text-align: center;
    }
    .content {
        width: 100%;
    }
    #mainBlockWrapper {
        height: auto;
    }
    #videoBlock,#partnersGrid, #historyGrid {
        display: block;
    }
    #video iframe {
        width: 100%;
    }
    #ownDesignDepartContent {
        display: block;
    }
    #passports img {
        width: 100%;
    }
    #deadlinesContent img {
        width: 100%;
    }
    #catalogGrid {
        grid-template-columns: 1fr;
    }
    #advantages div {
        max-width: 100%;
    }
    #mainBlock #mainTitle {
        font-size: 40px;
        padding: 0 15px;
    }
    #mainBlock #mainDescription {
        font-size: 25px;
    }
    #mainGrid div > h2 {
        text-align: left;
        padding: 0 10px;
        margin: 0;
        text-align: center;
    }
    #mainGrid .icon {
        position: static;
        display: block;
        margin: 10px auto 20px;
    }
    #deliveryContent img {
        display: none;
    }
    #deliveryContent p {
        position: static;
        margin: 10px;
    }

    #deliveryWrapper h2, #deadlinesContent h2 {
        font-size: 20px;
    }
    #contacts h2, #contacts h3 {
        margin-left: 10px;
    }
    #deliveryContent {
        padding: 15px;
    }
    #footer #left-block-footer img {
        float: none;
    }
    #footer #left-block-footer h1{
        float: none;
    }
}